# Doctror Who data - episode breakdown

We have a csv of episode data and another csv with the cast list that we need to combine into a single dataframe so we can filter/search etc. So first job is to import the csvs into dataframes using Pandas.

In [1]:
import pandas as pd

dwguide = pd.read_csv('dwguide_clean.csv')
castlist = pd.read_csv('castlist.csv')

Let's join these tables in Pandas into a **joineddata** dataframe. Left join, specifically... This will get us long data, where the dwguide info in duplicated and the roles and names are all there for each entry. It is a LONG dataset now, literally...

In [2]:
jd = pd.merge(dwguide, castlist, how="left", on="episodenbr")

jd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25665 entries, 0 to 25664
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   episodenbr     25665 non-null  int64
 1   title          25665 non-null  object
 2   weekday        25665 non-null  object
 3   broadcastdate  25665 non-null  object
 4   broadcasthour  25665 non-null  object
 5   duration       25665 non-null  object
 6   views          25665 non-null  object
 7   share          8763 non-null   object
 8   AI             20058 non-null  float64
 9   chart          25665 non-null  int64
 10  summary        19543 non-null  object
 11  role           25665 non-null  object
 12  name           25665 non-null  object
dtypes: float64(1), int64(2), object(10)
memory usage: 2.5+ MB

Now we can filter for any particular episode, or even the name of the episode to get the full info. Say we want to return everything about episode 1. This uses the **loc** attribute to return any rows meeting the criteria.

In [3]:
ep1 = jd.loc[jd['episodenbr'] == 1]

print(ep1)

      episodenbr               title weekday broadcastdate broadcasthour  \
9969           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9970           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9971           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9972           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9973           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9974           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9975           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9976           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9977           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9978           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9979           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9980           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9981           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm

      duration  views share    AI  chart  \
9969  00:23:10  4.40m   NaN  63.0    114
9970  00:23:10  4.40m   NaN  63.0    114
9971  00:23:10  4.40m   NaN  63.0    114
9972  00:23:10  4.40m   NaN  63.0    114
9973  00:23:10  4.40m   NaN  63.0    114
9974  00:23:10  4.40m   NaN  63.0    114
9975  00:23:10  4.40m   NaN  63.0    114
9976  00:23:10  4.40m   NaN  63.0    114
9977  00:23:10  4.40m   NaN  63.0    114
9978  00:23:10  4.40m   NaN  63.0    114
9979  00:23:10  4.40m   NaN  63.0    114
9980  00:23:10  4.40m   NaN  63.0    114
9981  00:23:10  4.40m   NaN  63.0    114

                                                summary            role  \
9969  After discussing a strange pupil, Susan Forema...         Dr. Who
9970  After discussing a strange pupil, Susan Forema...  Ian Chesterton
9971  After discussing a strange pupil, Susan Forema...  Barbara Wright
9972  After discussing a strange pupil, Susan Forema...   Susan Foreman
9973  After discussing a strange pupil, Susan Forema...       Policeman
9974  After discussing a strange pupil, Susan Forema...    School Child
9975  After discussing a strange pupil, Susan Forema...    School Child
9976  After discussing a strange pupil, Susan Forema...    School Child
9977  After discussing a strange pupil, Susan Forema...    School Child
9978  After discussing a strange pupil, Susan Forema...    School Child
9979  After discussing a strange pupil, Susan Forema...    School Child
9980  After discussing a strange pupil, Susan Forema...    School Child
9981  After discussing a strange pupil, Susan Forema...             Kal

                                   name
9969                   William Hartnell
9970                    William Russell
9971                    Jacqueline Hill
9972                    Carole Ann Ford
9973         Reg Cranfield (uncredited)
9974         Carole Clarke (uncredited)
9975          Mavis Ransom (uncredited)
9976  Francesca Bertorelli (uncredited)
9977         Heather Lyons (uncredited)
9978       Cedric Schoeman (uncredited)
9979        Richard Wilson (uncredited)
9980          Brian Thomas (uncredited)
9981          Leslie Bates (uncredited)

Make a list of all the titles and episode numbers

In [4]:
titles = jd.title.unique()

To make this interesting, we could ask the user for a specific title and return the data from that particular episode.

In [5]:

# Ask the user for the value to filter by
filter_value = input("Enter the title of an epsode to filter by: ")

# Filter the DataFrame
filtered_df = jd[jd['title'] == filter_value]

# Display the result
if not filtered_df.empty:
    print("Filtered DataFrame:")
    print(filtered_df)
else:
    print(f"No rows found with Name equal to {filter_value}")

Filtered DataFrame:
      episodenbr               title weekday broadcastdate broadcasthour  \
9969           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9970           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9971           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9972           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9973           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9974           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9975           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9976           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9977           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9978           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9979           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9980           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm
9981           1  An Unearthly Child     Sat   23 Nov 1963        5:16pm

      duration  views share    AI  chart  \
9969  00:23:10  4.40m   NaN  63.0    114
9970  00:23:10  4.40m   NaN  63.0    114
9971  00:23:10  4.40m   NaN  63.0    114
9972  00:23:10  4.40m   NaN  63.0    114
9973  00:23:10  4.40m   NaN  63.0    114
9974  00:23:10  4.40m   NaN  63.0    114
9975  00:23:10  4.40m   NaN  63.0    114
9976  00:23:10  4.40m   NaN  63.0    114
9977  00:23:10  4.40m   NaN  63.0    114
9978  00:23:10  4.40m   NaN  63.0    114
9979  00:23:10  4.40m   NaN  63.0    114
9980  00:23:10  4.40m   NaN  63.0    114
9981  00:23:10  4.40m   NaN  63.0    114

                                                summary            role  \
9969  After discussing a strange pupil, Susan Forema...         Dr. Who
9970  After discussing a strange pupil, Susan Forema...  Ian Chesterton
9971  After discussing a strange pupil, Susan Forema...  Barbara Wright
9972  After discussing a strange pupil, Susan Forema...   Susan Foreman
9973  After discussing a strange pupil, Susan Forema...       Policeman
9974  After discussing a strange pupil, Susan Forema...    School Child
9975  After discussing a strange pupil, Susan Forema...    School Child
9976  After discussing a strange pupil, Susan Forema...    School Child
9977  After discussing a strange pupil, Susan Forema...    School Child
9978  After discussing a strange pupil, Susan Forema...    School Child
9979  After discussing a strange pupil, Susan Forema...    School Child
9980  After discussing a strange pupil, Susan Forema...    School Child
9981  After discussing a strange pupil, Susan Forema...             Kal

                                   name
9969                   William Hartnell
9970                    William Russell
9971                    Jacqueline Hill
9972                    Carole Ann Ford
9973         Reg Cranfield (uncredited)
9974         Carole Clarke (uncredited)
9975          Mavis Ransom (uncredited)
9976  Francesca Bertorelli (uncredited)
9977         Heather Lyons (uncredited)
9978       Cedric Schoeman (uncredited)
9979        Richard Wilson (uncredited)
9980          Brian Thomas (uncredited)
9981          Leslie Bates (uncredited)